#some
 -if @recipe.errors.any?
  .alert-danger.errors
   %p
    =pluralize("#{@recipe.errors.count}","Error")
    prevented this recipy from saving:
   %ul
    -@recipe.errors.full_messages.each do |msg|
     %li= msg
 .panel-body
  =f.input :title, required:false, label:false, input_html:{class:"form-control", placeholder:"Title"}
  %br
  =f.input :image, required:false, label:false, input_html:{class:"form-control"}
  %br
  =f.input :description, required:false, label:false, input_html:{class:"form-control form-control2", placeholder:"Description"}
  %br 
  =f.collection_select :category_id, @categories, :id, :name, {prompt:"Chose a category"}, class:"form-control" 
  .row
   .col-md-6
    %h3 Ingredients
    #ingredients
     = f.simple_fields_for :ingredients do |ingredient|
      = render "ingredient_fields", f: ingredient
     .links 
      = link_to_add_association 'Ingredient', f, :ingredients, class: 'form-button btn btn-default'
   .col-md-6
    %h3 Directions
    #directions
     = f.simple_fields_for :directions do |direction|
      = render "direction_fields", f: direction
     .links 
      = link_to_add_association 'Step', f, :directions, class: 'form-button btn btn-default'
 
 