-@recipies.each_slice(3) do |recipe|
 .row
  -recipe.each do |recipe|
   .col-md-4 
    .recipe 
     .image_wrapper
      =link_to recipye_path(recipe) do
       =image_tag recipe.image.url(:medium) 
       
     %h2= link_to recipe.title.capitalize, recipye_path(recipe)
%p= will_paginate @recipies, inner_window:1, outer_window:0