%h2#align New Recipe

= simple_form_for @recipe, url:"/recipyes/#{@recipe.id}", html: {multipart: true} do |f|
 = render 'form', f:f
 #align
  = link_to ' ', :back, class:"btn btn-default glyphicon glyphicon-arrow-left", style:"top:0px;"
  = f.button :submit, value:"Create", class:'btn btn-default success'
 
