<%unless user_signed_in?%>
 <% flash[:alert] = "You need sign in or sign up"%>
  window.location = "/u/sign_in";

<%else%>
	<% @recipe.upvotes.each do |vote| %>
	 <% if vote.user_id == current_user.id%>
	  <% flash[:alert] = "You have already upvoted it!"%>
	    $(function() {
	    $('body').scrollTop(0);
	   });
	    location.reload();
	 <%end%>
	<%end%>
	<%@recipe.upvotes.create(user_id: current_user.id)%>
	$('.hearts_count').html(<%= @recipe.upvotes.count%>)

<%end%>