.registration
 %h2 Edit Profile 

 = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  
  .alert-danger.errors
   = devise_error_messages!
  %br

  = f.text_field :name, autofocus: true, class:"form-control", placeholder:"User name"
  %br 
  = f.file_field :avatar, autofocus: true, class:"form-control", placeholder:"Avatar"
  %br
  = f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email"
  %br
  - if devise_mapping.confirmable? && resource.pending_reconfirmation? 
   Currently waiting confirmation for: 
   = resource.unconfirmed_email

  %span 
   %i
    %small (leave blank if you don't want to change it)
   = f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" 
   %br
  = f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Password confirmation"
  %br
  %span
   %i
    %small (we need your current password to confirm your changes) 
   = f.password_field :current_password, autocomplete: "off", class:"form-control", placeholder:"Current password"  
 
  %hr
  %p
   = link_to ' ', user_path(current_user.id), class: "glyphicon glyphicon-menu-left"
   = f.submit "Save", class:"btn btn-primary"
   = link_to "Delete account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete
   