.registration
 %h2 Sign up
 
 = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

  .alert-danger.errors
   = devise_error_messages! 
  %br
  
   = f.text_field :name, autofocus: true, class:"form-control", placeholder:"User name" 
   %br
   = f.file_field :avatar, autofocus: true, class:"form-control", placeholder:"Avatar" 
   %br
   = f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" 
   %br
   = f.password_field :password, autocomplete: "off",class:"form-control", placeholder:"Password" 
   %br
   = f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Password confirmation"
   %hr
   = link_to ' ', new_user_session_path, class: "glyphicon glyphicon-menu-left"
   = f.submit "Sign up", class:"btn btn-primary sign_up"
   %br