= simple_form_for ([@recipe, @recipe.comments.build]), url:"/recipyes/#{@recipe.id}/comments", html: {multipart: true} do |f|

 -if @comment.errors.any?
  .alert-danger
   %p
    =pluralize("#{@comment.errors.count}","Error")
    prevented this comment from saving:
   %ul
    -@comment.errors.full_messages.each do |msg|
     %li= msg
  %hr

 %p= f.input :body, required:false, label:false, input_html:{class:"form-control", placeholder:"Body"}
 %p= f.submit "Comment!", class:"btn btn-default comment"

