= simple_form_for @relationship do |f|
 = f.input :following_id,as: :hidden, input_html:{value:"#{@user.id}"}
 = f.input :follower_id,as: :hidden, input_html:{value:"#{current_user.id}"}
 %span{style:"float:right;"}= f.submit "Follow", class: 'btn follow-button'