%h2
 %span= link_to ' ', user_path(@user), class:"btn btn-default glyphicon glyphicon-arrow-left", style:"border-radius:50%; top:-3.5px; width:40px;"
 %span="#{@user.name.capitalize} recipes:" 

%hr
= render partial:"recipyes/index"
