- if current_page?("/users/list/recipes")
 
 %h2 
  %span= link_to ' ', user_path(current_user), class:"btn btn-default glyphicon glyphicon-arrow-left", style:"border-radius:50%; top:-3.5px; width:40px;"
  %span List of all recipes:
 %br
 
 %table{:border => "1",class:'table table-striped'}
  %tr
   %th Title
   %th Created_by  
   %th Category
   %th Created_at
   %th{:colspan=>"2"} Action
  -@recipes.each do |recipe|
   %tr
    %td=link_to recipe.title.capitalize, recipye_path(recipe)
    %td=link_to recipe.user.name, user_path(recipe.user_id)
    %td
     = recipe.category.name if recipe.category
     = "Unknown" if ! recipe.category
    %td=recipe.created_at.strftime("%B %e, %Y %l:%M %p")
    %td=link_to 'Edit', edit_recipye_path(recipe)
    %td=link_to 'Del', recipye_path(recipe), method: :delete, data:{confirm:"Delete '#{recipe.title.capitalize}'?"}, class:'del'
 %hr/
 = will_paginate @recipes, inner_window:1, outer_window:0

- elsif current_page?("/users/list/comments")
 
 %h2
  %span= link_to ' ', user_path(current_user), class:"btn btn-default glyphicon glyphicon-arrow-left", style:"border-radius:50%; top:-3.5px; width:40px;"
  %span List of all comments:
 %br
 
 %table{:border => "1",class:'table table-striped comments'}
  %tr
   %th Comment
   %th Created by  
   %th Created at
   %th Action
  -@comments.each do |comment|
   %tr
    %td=link_to comment.body.capitalize, recipye_path(comment.recipe_id)
    %td=link_to comment.user.name, user_path(comment.user_id)
    %td=comment.created_at.strftime("%B %e, %Y %l:%M %p")
    %td=link_to 'Del', recipye_comment_path(comment.recipe_id, comment), method: :delete, data:{confirm:"Delete?"}, class:'del'
 %hr/
 = will_paginate @comments, inner_window:1, outer_window:0

- elsif current_page?("/users/list") || current_page?("/users/list/banned")

 %span
  %h2
   %span
   = link_to ' ', user_path(current_user), class:"btn btn-default glyphicon glyphicon-arrow-left", style:"border-radius:50%; top:-3.5px; width:40px;" 
   = "List of all users:" if current_page?("/users/list")
   = "List of banned users:" if current_page?("/users/list/banned")
 
 %br

 - @users.each do |user|
  - if ! user.admin
   %table{:border => "1",class:'table table-striped users'}
    %tr
     %td= link_to image_tag(user.avatar.url(:thumb), class:"avatar"), user_path(user)
     %td= user.name.capitalize
     %td= user.email
     %td
      = form_for user, url:"/users/#{user.id}/banned" do |f|
       - if ! user.banned?
        = f.label 'Lock user'
        = f.check_box :banned, {},true, checked:""
       - else
        = f.label 'Unlock user'
        = f.check_box :banned, {},false, checked:""
       %p= f.submit "Apply", class: "button small btn-default" 
     - if ! current_page?("/users/list/banned")
      %td{min_width:"1px"}= link_to 'Del', user_path(user), method: :delete, class:'del', data:{confirm:"Destroy user?"} 
  %hr
 = will_paginate @users, inner_window:1, outer_window:0