.registration  
 #left{style:"float:left;margin: 7px 15px 15px 7px;"}
  #{image_tag @user.avatar.url(:thumb), class:"avatar"}
 
 #right
  %p
   -if @user.admin? 
    %b= @user.name.capitalize
    %i{style:"color:grey;"} (Admin)
   -else
    %b= @user.name.capitalize
    %i{style:"color:grey;"} (User)

   - unless current_user == @user
    - if follow?(current_user, @user) 
     %span{style:"float:right;"}= link_to "Unfollow", unfollow_path(@user.id), class:"btn unfollow-button"
    - else 
     = render 'relationships/relationship_form'
  %p
   %span
    %label.glyphicon.glyphicon-envelope
    = @user.email
  %p
   %span 
    %label.glyphicon.glyphicon-time
    = @user.created_at.strftime("%d, %B %Y")
    |
    - if @user.recipes.count == 0
     = render text: "Has #{@user.recipes.count} recipes" 
    - else
     = link_to "Has #{pluralize(@user.recipes.count, 'recipe')}", user_recipes_path

  %span
   <!-- List of followers-->
   %label= button_tag "#{pluralize(@user.followers.count, 'follower')}", type:"button", class:"btn btn-primary followers", "data-toggle"=>"modal", "data-target"=>".bs-example-modal-sm1"

   .modal.fade.bs-example-modal-sm1{tabindex:"-1", role:"dialog"}
    .modal-dialog.modal-sm{role:"document"}
     .modal-content
      %p#follow_title="#{@user.name} followers:"
      %hr
      %ul
      - @user.followers.each do |follower| 
       %p
        %li.avatar
         = link_to (image_tag(follower.avatar.url(:thumb))), user_path(follower)
         %span{style:"padding-left:10px;"}= follower.name
      %hr
   <!-- List of following-->
   %label= button_tag "#{@user.following.count} following", type:"button", class:"btn btn-primary followers", "data-toggle"=>"modal", "data-target"=>".bs-example-modal-sm"

   .modal.fade.bs-example-modal-sm{tabindex:"-1", role:"dialog"}
    .modal-dialog.modal-sm{role:"document"}
     .modal-content
      %p#follow_title="#{@user.name} following:"
      %hr
      %ul
      - @user.following.each do |following| 
       %p
        %li.avatar
         = link_to (image_tag(following.avatar.url(:thumb))), user_path(following)
         %span{style:"margin-left:10px;"}= following.name
      %hr
 #other
  - if user_signed_in?
   - if current_user.admin 
    %hr
    #align_center
     %p
      = link_to "Users (#{@users.count})", list_users_path
      - if @banned_users_count > 0
       = link_to "Banned users (#{@banned_users_count})", list_banned_users_path  
     %p
      = link_to "Categories (#{@categories.count})", categories_path
      = link_to "Recipes (#{@recipes.count})", list_of_recipes_path
     %p
      = link_to "Comments (#{@comments.count})", list_of_comments_path
  %hr
  - if user_signed_in?
   - if current_user.admin || current_user.id == @user.id
    #align_center
     = link_to ' ', :back, class: "glyphicon glyphicon-menu-left"
     = link_to "Edit profile", edit_user_registration_path, class:"btn btn-primary"
   - else
    = link_to ' ', :back, class: "glyphicon glyphicon-menu-left"
     