.registration
 %h2 Change your password
 %br


 = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
 
  .alert-danger.errors
   = devise_error_messages! 
 
  = f.hidden_field :reset_password_token 
  %br
  = f.password_field :password, autocomplete: "off", class:"form-control", rows:"3", placeholder:"New password" 
  %br
  = f.password_field :password_confirmation, autocomplete: "off", class:"form-control", rows:"3", placeholder:"Confirm new password"
  %hr
  = f.submit "Change password", class:"btn btn-primary" 
 