.registration
 %h2 Forgot your password?
 
 = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, 'text-align'=>"center"}) do |f| 
  
  .alert-danger.errors
   = devise_error_messages! 
  %br

  = f.email_field :email, autofocus: true, class:"form-control", placeholder:"Type your email" 
  %hr
  = link_to ' ', new_user_session_path, class: "glyphicon glyphicon-menu-left"
  = f.submit "Send me reset password instructions", class:"btn btn-primary" 
 %br
  