.registration
 %h2{style:"color:grey;"}Sign in
 %br
 
 = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
  
  = f.email_field :email, autofocus: true, class:"form-control", rows:"3", placeholder:"Email"
  %br
  = f.password_field :password, autocomplete: "off", class:"form-control", rows:"3", placeholder:"Password"
  %hr
  
  %p
   = f.submit "Log in", class:"btn btn-primary"
   %span{style:"margin-left:5px;"}= link_to "Forgot your password?", new_password_path(resource_name)  
  %p
   Need an account? 
   = link_to "Sign up", new_registration_path(resource_name)
    
    