/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$red: #DB6161;

@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

body {background: rgb(235, 238, 243); 
   -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
    zoom: 0.9; /* Other non-webkit browsers */
    zoom: 90%; /* Webkit browsers */
}

h2{color: grey;}
.container { width:790px;}
.main_content {padding: 0 0 140px 0;}
#container_body{padding-bottom: 100px;}

/*-------------------------------Dropdown*/
#dropdown{ width: 30px; margin-left: -60px;  padding-top: 14.9px; padding-left: 60px; }
button#dropdownMenu1.btn.glyphicon.glyphicon-chevron-down.dropdown-toggle{
 width: 25px; 
 background-color:$red;
 color: white;
 padding: 2px 4.5px;
 margin-top: -4px; 
}

ul.dropdown-menu {
 top: inherit;
 left: inherit;
 min-width: 187px;
 margin: 15px 0 0;
}

.dropdown-menu > li > a {
    color: $red;
    &:hover{color:$red; } }

/*-------------------------Alert costamize*/
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 0px solid transparent; 
    border-radius: 4px;
    text-align: center;
}

/*-----------------------------------Footer*/
.footer {
	bottom: 0px;
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #EBEEF3;
  margin-bottom: -1px;
}
.text-muted { margin: 4px 0;}
.text-muted {float:right; a{color: #777;}
}
/*------------------------------*/

.btn-default { 
	color:grey;
	border: none;
	font-weight: bold;
	width:65px;
	height: 30px;
	font-size: 13px; 
	border-radius: 1px; 
	padding: 6px 9px;
}

.form-button.btn.btn-default.add_fields{
	margin-top: 20px;
	margin-left: -2px;
	color: green;
	border-radius: 19px;
}

.form-button.btn.btn-default.remove_fields.dynamic{
	color: $red;
	border-radius: 19px;
}

input[type="file" i]::-webkit-file-upload-button, button {
	color:grey;
	border: none;
	font-weight: bold; 
	width:105px;
	height: 25px;
	margin-left: -6px; 
	margin-top:-4px;
	font-size: 13px; 
	border-radius: 1px; 
	padding: 6px 9px;
}
/*-------------------------Recipe new errors*/
.alert-danger.errors{padding: 0px 0px 0px 15px; margin: 0px 15px 0px 15px;border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    h2{color: #a94442;
    }
  }
/*-------------------------Categories error*/
.alert-danger.categories_errors{padding: 2px 0px 2px 15px;border-radius: 4px;}

#error_explanation h2 {font-size: 15px;}
#error_explanation ul {font-size: 15px;}

.col-md-6 h3 {color:grey;}

input#search.form-control{
	width:100%;
	font-style: italic;
	font-size: 16px;
}

.navbar {
	margin-bottom: 40px;
	@include box-shadow;

	.navbar-brand {
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 25px;

		a {
			color: $red;
			text-decoration: none;
		}
	}
}

.recipe {
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		a {
			color: $red;
		}
	}
}

#recipe_top {margin-bottom: 1px;}

#recipe_info, #ingredients, #directions {
	background: white;
	@include box-shadow;
	min-height: 360px;
	border-radius: 5px;
	padding: 0.3em 7%;
}

.recipe_image {
	max-width: 100%;
	border-radius: 5px;
}

#recipe_info { margin-bottom: 58px;	
	h3 {
		font-size: 29px;
		font-weight: normal;
		color: $red;
		margin-left: 5px;
}
	p { 
		overflow: hidden;
		position: relative;
  line-height: 18px;
		font-size: 14px; /* need to know this*/
		text-align:left;
		padding: 0.3em 1%;
		color: grey;
		}
}
	.description {
		color: #8A8A8A;
		font-size: 14px;
	}

#ingredients ul {list-style: none;}

#directions ul {list-style: none;}

#ingredients, #directions {margin-bottom: 50px;
	h2 {
 		color: #424242;
 		margin-left: 5px;
	ul, ol {
		padding-left: 18px;
		list-style: none;
		li {
			padding: 1em 8%;
			border-bottom: 1px solid #EAEAEA;
		}
	}
}
}

.form-inline {margin-top: 15px;}

.form-input {
	width: 65% !important;
	float: left;
}
.form-button {
	float: left;
	width: 30% !important;
	margin-left: 5%;
}
.add-button {margin-top: 25px;}

#errors {
	border-radius: 5px;
	width: 40%;
	background-color: red;
	color: white;
}

.error {display:none;}
.form-control2{height: 60px;}

ul.nav.navbar-nav.navbar-right li > a{
	text-decoration: none;
	color: #777;
}

.btn.btn-default.vote{width: 48px;  word-spacing: -7px;}
span.glyphicon.glyphicon-heart{ float:left; font-weight:bold; font-size: 13px;}
.glyphicon.glyphicon-heart, .hearts_count{color: #DB6161;}

#align{padding-left:17px;}
#align_center{text-align: center;}

label.glyphicon.glyphicon-envelope{top:3px;}

a.glyphicon.glyphicon-envelope{
 	top:2px; 
 	margin-left:3px;
 	border: 0px solid #f8f8f8;
 	padding: 11px 11px 11px 11px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #f8f8f8;
  &:hover{background-color:grey; color:white;}
}

.navbar-nav > li#img > a {
	  border-radius: 50%;
   padding-top: 0px; 
   padding-bottom: 0px; 
}
.btn.btn.btn-default.success{color:green;}
