/*-----------------------------------Sign up/in Forms*/
.registration {
    margin: auto;
    width: 50%;
    border: 3px solid #f8f8f8;
    padding: 10px;
    background-color:#f8f8f8;
    margin-top:5px;
    margin-bottom: 125px;
    border-radius: 4px;

    h2 .btn.btn-primary{
     margin-left: 15px;
    }

    a.glyphicon.glyphicon-menu-left{
      color: #4FB0C6;
      text-decoration: none;
    }

    h2{color:grey;}
}

/*----------------------------------Buttons */
.btn.btn-danger {    
    padding: 6px 9px;
    font-size: 13px;
    font-weight: bold;
}

.btn.btn-primary {    
    padding: 6px 9px;
    font-size: 13px;
    font-weight: bold;
    background-color:#4FB0C6;
    border-color:#4FB0C6;
 &:hover{
    background-color:#4FB0C6;
    border-color:#4FB0C6;
    }
}

/*-----------------------------------------*/
.avatar.nav {
    border: 2px solid white;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 51px;
    width: 53px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
    &:hover {border:0px solid white;}
}

.avatar{
    height: 71px;
    width: 71px;
    border: 1px solid grey;
    border-radius: 4px;
    -moz-border-radius: 4%;
    -webkit-border-radius: 4%;
    img { width: 100% }
}

.table.table-striped.users {
 border-color: white;
 table-layout:fixed;
  
td{
width:20px;
  overflow:hidden;
  word-wrap:break-word;
    text-align: center;
    vertical-align: inherit;
}

td a.del{
    color: #DB6161;
    width: 2px;
}}

.btn.unfollow-button {
  padding: 3px 6px;
  font-size: 12px;
  border-color: #2D6396;
  background-color: white;
  color:#2D6396;
  margin-left: 20px;
  &:hover {
    border-color: #2D6396;
    background-color: #2D6396;
    color: white;
  }
}

.btn.follow-button {
  margin-top:-59px;
  padding: 3px 6px;
  font-size: 12px;
  border-color: green;
  background-color: white;
  color: green;
  margin-left: 20px;
  &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}
.modal-content li{list-style: none; margin:auto;}
.modal-content  li.avatar {height: auto;}
.modal-content span {text-align: center;}
button.btn.btn-primary.followers { background-color: white; color:#3b94d9; padding: 3px 4.5px;
&:hover{background-color: #3b94d9; color:white;
 }}
 
#follow_title{text-align:center; margin-top:10px; color:grey;font-weight:bold;}
