#some
 -if @category.errors.any?
  .alert-danger.categories_errors
   = pluralize("#{@category.errors.count}","Error")
   prevented this category from saving:
   %ul
    - @category.errors.full_messages.each do |msg|
     %li= msg
  %br

 = f.input :name, label:false, input_html:{class:"form-control", placeholder:"Name of the new category"}
 %br
 %p.input-group
  = link_to ' ', user_path(current_user), class:"btn btn-default glyphicon glyphicon-arrow-left"
  %label.btn.btn-default.glyphicon.glyphicon-ok{style:"background-color:#3ac569 color:#3ac569;"}
   %span{style:"display:none;"}
    = f.submit ' '
  = link_to ' ', categories_path, class:"btn btn-default glyphicon glyphicon-ban-circle"
 %br